<html>

<head>
    <script type="text/javascript" src="https://unpkg.com/vue@3.0.2"></script>
</head>

<h1>Hi </h1>
<div id="app">

  <p>{{title}} -- {{author}} -- {{age}}</p>
    <button v-on:click="age++">Increase age</button>
    <button v-on:click="age--">Decrease age</button>
    <button @click="title='I have changed the Title'">Change Book Title</button>
    <button @click="changeTitle">Change Book Title</button> 

    <div v-if="showBooks">
        <p>{{title}} -- {{author}} -- {{age}}</p>
        
    </div>

    <button @click="toggleShowBooks">
        <span v-if="showBooks">Hide Books</span>
        <span v-else>Hide Books</span>
        <!-- <span  v-if="!showBooks">Show Books</span> -->

    </button>

     <div v-show="showBooks">Currently showing books</div>

</div>

<script src="./src/student/app.js"></script>

</html>